* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #ff0202;
    padding-top: 16px;
    color: #fff;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
nav {
    background-color: #fff;
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #ff0202;
    text-decoration: none;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 24px;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.container ul{
    display: flex;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #ff0202;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 12px;
}

.price{
    margin-top: 16px ;
    display: block;
    text-align: center;
    font-size: 20px;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ee3333;
}

.lista-veiculos{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%;
}

.lista-veiculos img{
    max-width: 100%;
    border-radius: 12px;
    
}

.lista-veiculos li h3{
    margin: 16px 0;
}

.price del{
    color: #6e6d6d;
    font-size: 14px
}

.form-campo{
    margin-bottom: 16px;
}

.form-campo label{
    font-weight: bold;
    display: block;
}

.form-campo input:hover{
    border-color: #ff0202;
}

.form-campo input,
.form-campo textarea{
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 6px;
}

.form-campo textarea{
    resize: none;
    height: 120px;
}

form{
    max-width: 360px;
}

form button{
    max-width: 120px;
}

.gap{
    display: flex;
    gap: 20px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer img{
    height: 32px;
}

